CompileFlags:
  Add: [-isystem/home/ubuntu/inz/emsdk/upstream/emscripten/system/lib/libcxx/include,
        -isystem/home/ubuntu/inz/emsdk/upstream/include,
        -isystem/home/ubuntu/inz/emsdk/upstream/emscripten/system/include,
        -isystem/home/ubuntu/inz/emsdk/upstream/emscripten/system/lib/libcxxabi/src/include,
        -isystem/home/ubuntu/inz/emsdk/upstream/emscripten/system/lib/libcxxabi/include,
        -isystem/home/ubuntu/inz/emsdk/upstream/emscripten/system/lib/libcxx/src/include,
        -isystem/home/ubuntu/inz/emsdk/upstream/emscripten/system/lib/libunwind/include,
        -isystem/home/ubuntu/inz/emsdk/upstream/emscripten/system/lib/compiler-rt/include,
        -isystem/home/ubuntu/inz/emsdk/upstream/emscripten/system/lib/libc/musl/arch/emscripten,
        -nostdinc++]
# CompileFlags:
#   Add: [-I/opt/llvm-mingw/include/c++/v1]
